
-# Attention! here you can only use inline css style, css class ,id is not useful, either javascript
%div{:style => "width:800px; margin:0px auto;"}
  - @categories_posts.each do |category, posts|
    %h2{:style => "color:#999"}= category
    - posts.each do |post|
      %div{:style => "margin-top:10px;margin-bottom:10px;"}
        %h2= link_to post.title, refinery.blog_post_url(post)
        %div{:style => "font-size:11px; color:#888"}= post.published_at.try(:strftime, '%d-%b-%Y')
        = truncate(strip_tags(post.body), :length=>190, :omission=>'...').html_safe.chomp
