
-# Attention! here you can only use inline css style, css class ,id is not useful, either javascript
%div{:style => "margin:0px auto;padding:10px;"}
  - @categories_posts.each do |category, posts|
    %div{:style => "border-bottom: 5px solid #EEE;color: #DDD;font-size: 18px;font-weight:bold;margin-bottom: 20px;padding-bottom: 5px;text-transform: uppercase;"}
      = category
    - posts.each do |post|
      %div{:style => "margin-top:10px;margin-bottom:10px;"}
        %div{:style => "font-size:20px; font-weight:bold;;margin-bottom:5px;"}
          = link_to post.title, refinery.blog_post_url(post)+'?token=*|TOKEN|*', :style => "font-weight:bold;color:#333;text-decoration: none;"
        = truncate(strip_tags(post.body), :length=>190, :omission=>'...').html_safe.chomp
        %div{:style => "font-size:11px; color:#888; text-align:right;margin-top:10px;"}
          Publié le
          = l(post.published_at, :format => '%d %B %Y')
