#actions
  %ul
    %li= link_to t('.create_new'), refinery.new_mailchimp_admin_posts_campaign_path, :id => "add_new_posts_campaign", :class => "add_icon"
#records
  %ul#soratble_list= render :partial => 'posts_campaign', :collection => @posts_campaigns
